/* Importing the font */
@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
/* Some normalization (on top of modern normalize. Credit to Matt Brictson (https://mattbrictson.com/blog/css-normalize-and-reset#my-recommendation */

/* Set the default line height to be in line with accessibility standards https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html */
:root {
    line-height: 1.5;
    --white-color: hsl(0, 0%, 100%);
    --lightish-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: #2C7DFA;
    --curved-edge: 5%;
    font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
  }

/* Get rid of all margins on (almost) all text */
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

/* For compatibility with Safari Voice Over */
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }

/* Set headings to no styles so I can style them myself */
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }

/* Sets the default behavior for images to fit within container */
img {
    display: block;
    max-inline-size: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: var(--lightish-gray);
    margin: auto;
}
.header-spacer {
    height: 25vh;
}
.module-container {
    width: 21.333rem;
    height: 33.133rem;
    background-color: var(--white-color);
    display: flex;
    align-items: flex-start;
    padding: 1.066rem;
    flex-direction: column;
    border-radius: var(--curved-edge);
}
.qr-container{
    border-radius: var(--curved-edge);
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    height: 19.2rem;
    width: 19.2rem;
}
.qr-code{
    max-inline-size: 90%;
}
.text-container {
    height: 8.6rem;
    width: 19.2rem;
    margin-top: 1.333rem;
    margin-bottom: 2.666rem;
}
.heading {
    font-size: 1.46rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.6666rem;
}
.body-copy {
   font-size: 1rem;
   text-align: center;
   font-weight: 400;
}
footer {
    position: fixed;
    bottom: 0;
}
/* Project styles provided at outset */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }